# Introducción a Pandas
---
[Pandas](https://pandas.pydata.org/) Es una librería de python para análisis de datos estructuradas en columnas y renglones, muy popular para manipulación, análisis y preprocesamiento en columnas, ideal para manipular y analizar datos de entrada. Además, _Pandas_ se integra muy bien con otras librerías de Ciencia de Datos, de manera que usualmente los algoritmos de machine learning reciben como entradas las dos principales estructuras de _Pandas_: los DataFrames y las Series

## Objetos de _Pandas_

In [5]:
import numpy as np
import pandas as pd

### Series

Las series son equivalentes a los vectores de NumPy.  
Pueden crerse a partir de listas o vectores.

In [4]:
colores_lista = ['rojo', 'verde', 'azul', 'amarillo']
colores_array = np.array(colores_lista)
colores_array

array(['rojo', 'verde', 'azul', 'amarillo'], dtype='<U8')

In [5]:
colores_series = pd.Series(colores_lista)
colores_series

0        rojo
1       verde
2        azul
3    amarillo
dtype: object

In [6]:
porcentajes_array = np.array([0.2, 0.4, 0.8, 1])
porcentajes_series = pd.Series(porcentajes_array)
porcentajes_series

0    0.2
1    0.4
2    0.8
3    1.0
dtype: float64

Una serie consta de los valores y de los índdices y se puede acceder a ellos con los atributos _values_ e _index_.  
Los valores son un vector de NumPy.

In [7]:
porcentajes_series.values

array([0.2, 0.4, 0.8, 1. ])

Como en un vector de NumPy, usamos los índices para obtener un subconjunto de elementos.

In [8]:
porcentajes_series[1]

np.float64(0.4)

In [9]:
porcentajes_series[1:3]

1    0.4
2    0.8
dtype: float64

Los objetos _Series_ tienen la  ventaja sobre los  vectores de NumPy que permite definir índices asociados a los  valores, y  
pueden ser de cualquier tipo por ejemplo.

In [12]:
nivel_color = pd.Series(porcentajes_array, index = colores_lista)
nivel_color

rojo        0.2
verde       0.4
azul        0.8
amarillo    1.0
dtype: float64

In [13]:
nivel_color.values

array([0.2, 0.4, 0.8, 1. ])

In [14]:
nivel_color[2]

C:\Users\aavila\AppData\Local\Temp\ipykernel_4508\2481533905.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  nivel_color[2]

np.float64(0.8)

In [15]:
nivel_color["azul"]

np.float64(0.8)

In [16]:
type(nivel_color.values)

numpy.ndarray

In [19]:
# Diccionario con la población en 2020 para estados seleccionados.

poblacion_dict  = {'Aguascalientes': 1425607,
'Guanajuato': 6166934,
'Jalisco': 8348151,
'CDMX': 9209944,
'Querétaro': 2368467}

pob = pd.Series(poblacion_dict)
pob

Aguascalientes    1425607
Guanajuato        6166934
Jalisco           8348151
CDMX              9209944
Querétaro         2368467
dtype: int64

In [20]:
pob['CDMX']

np.int64(9209944)

In [21]:
pob['Aguascalientes':'CDMX']

Aguascalientes    1425607
Guanajuato        6166934
Jalisco           8348151
CDMX              9209944
dtype: int64

In [22]:
pob.iloc[3]

np.int64(9209944)

Lo anterior no es posible con los diccionarios:

In [23]:
poblacion_dict['Aguascalientes': 'CDMX']

TypeError: unhashable type: 'slice'

### Más ejemplos de _Series_.

In [24]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [25]:
pd.Series(14, index  = [150, 220, 380])

150    14
220    14
380    14
dtype: int64

In [26]:
pd.Series({2: 'a', 1: 'b', 3:'c'})

2    a
1    b
3    c
dtype: object

### DataFrame

Igual que las _Series_, un _DataFrame_ toma las cualidades de una matriz de NumPy y también de los diccionarios,  
con ventajas adicionales.

In [2]:
muertes_dict = {'Goku': 3,
'Vegeta': 1,
'Gohan': 1,
'Trunks': 0,
'Broly': 0}

In [3]:
ki_dict = {'Goku': 4.7,
'Vegeta': 4.5,
'Gohan': 4.2,
'Trunks': 4.0,
'Broly': 6.2}

In [8]:
saiyans = pd.DataFrame({'ki': ki_dict, 'muertes': muertes_dict})
saiyans

         ki  muertes
Goku    4.7        3
Vegeta  4.5        1
Gohan   4.2        1
Trunks  4.0        0
Broly   6.2        0

Un DataFrame tiene además de los atributos _value_ e _index_ el atributo _columns_ que es un índice que contiene las etiquetas de cada columna.

In [9]:
saiyans.values

array([[4.7, 3. ],
       [4.5, 1. ],
       [4.2, 1. ],
       [4. , 0. ],
       [6.2, 0. ]])

In [10]:
saiyans.columns

Index(['ki', 'muertes'], dtype='object')

En los Dataframes se puede llamar una columna por su nombre:

In [11]:
saiyans['ki']

Goku      4.7
Vegeta    4.5
Gohan     4.2
Trunks    4.0
Broly     6.2
Name: ki, dtype: float64

Sin embargo, no se pueden llamar ínides como las Series:

In [12]:
saiyans['Vegeta']

KeyError: 'Vegeta'

Al igual que en los diccionarios, podemos agregar nuevos elementos, en este caso, Series,  
 y al igual que en NumPy podemos hacer operación de vectores sin nececidad de recurrir a ciclos For:

In [14]:
saiyans['ki_ss'] = saiyans['ki']*1.3
saiyans

         ki  muertes  ki_ss
Goku    4.7        3   6.11
Vegeta  4.5        1   5.85
Gohan   4.2        1   5.46
Trunks  4.0        0   5.20
Broly   6.2        0   8.06

### Creación de Dataframes a partir de distintos objetos:

Desde una Serie:

In [16]:
ki = pd.Series(ki_dict)
ki

Goku      4.7
Vegeta    4.5
Gohan     4.2
Trunks    4.0
Broly     6.2
dtype: float64

In [17]:
pd.DataFrame(ki, columns=['ki'])

         ki
Goku    4.7
Vegeta  4.5
Gohan   4.2
Trunks  4.0
Broly   6.2

Desde un diccionario:

In [18]:
data = {'edades': [54, 48, 30, 26, 30], 'clase': ['C', 'A', 'D', 'B', 'C']}
pd.DataFrame(data)

   edades clase
0      54     C
1      48     A
2      30     D
3      26     B
4      30     C

Desde una matriz de NumPy:

In [19]:
pd.DataFrame(np.random.rand(5, 3),
columns = ['columna_1', 'columna_2', 'columna_3'],
index = ['a', 'b', 'c', 'd', 'e'])

   columna_1  columna_2  columna_3
a   0.539658   0.270937   0.706041
b   0.749741   0.391418   0.276811
c   0.375330   0.940755   0.254456
d   0.995281   0.219384   0.071023
e   0.171206   0.857087   0.768386

### Lectura de archivos .csv como DataFrames.

In [30]:
dragon_ball_z = pd.read_csv(r"C:\Users\aavila\Desktop\data_science\data_sets\dragon_ball_z.csv")
type(dragon_ball_z)

pandas.core.frame.DataFrame

In [31]:
dragon_ball_z

,Name,Race,Gender,Power Level,Ki Blast,Melee Combat,Speed,Special Attack,Transformation
0,Goku,Saiyan,Male,9000,Kamehameha,Dragon Fist,Fast,Spirit Bomb,Super Saiyan
1,Vegeta,Saiyan,Male,8500,Galick Gun,Big Bang,Fast,Final Flash,Super Saiyan
2,Piccolo,Namekian,Male,8000,Special Beam Cannon,Namekian Punch,Fast,Hellzone Grenade,Fuse with Kami
3,Gohan,Half-Saiyan,Male,7500,Masenko,Soaring Dragon Strike,Fast,Father-Son Kamehameha,Super Saiyan 2
4,Future Trunks,Half-Saiyan,Male,7800,Burning Attack,Sword Strike,Fast,Heat Dome Attack,Super Saiyan
...,...,...,...,...,...,...,...,...,...
65,Upa,Human,Male,10,NaN,Martial Arts,Slow,NaN,-
66,Mai,Human,Female,10,NaN,Firearms,Slow,NaN,-
67,Mr. Satan,Human,Male,50,NaN,Martial Arts,Slow,NaN,-
68,Vados,Angel,Female,200000,Destruction,Angelic Martial Arts,Fast,NaN,-
69,Whis,Angel,Male,200000,Staff Strike,Angelic Martial Arts,Fast,Temporal Do-Over,-

Asignar el indice a través de la columna **"Name"**

In [32]:
dragon_ball_z = dragon_ball_z.set_index(["Name"])

In [29]:
dragon_ball_z.head(10)

,Race,Gender,Power Level,Ki Blast,Melee Combat,Speed,Special Attack,Transformation
Name,,,,,,,,
Goku,Saiyan,Male,9000,Kamehameha,Dragon Fist,Fast,Spirit Bomb,Super Saiyan
Vegeta,Saiyan,Male,8500,Galick Gun,Big Bang,Fast,Final Flash,Super Saiyan
Piccolo,Namekian,Male,8000,Special Beam Cannon,Namekian Punch,Fast,Hellzone Grenade,Fuse with Kami
Gohan,Half-Saiyan,Male,7500,Masenko,Soaring Dragon Strike,Fast,Father-Son Kamehameha,Super Saiyan 2
Future Trunks,Half-Saiyan,Male,7800,Burning Attack,Sword Strike,Fast,Heat Dome Attack,Super Saiyan
Krillin,Human,Male,2000,Destructo Disc,Kamehameha,Average,Solar Flare,-
Tien,Human,Male,2200,Tri-Beam,Wolf Fang Fist,Fast,Four Witches Technique,-
Yamcha,Human,Male,1800,Spirit Ball,Wolf Fang Fist,Average,Wolf Fang Fist,-
Chiaotzu,Human,Male,1400,Dodon Ray,Psychic Powers,Slow,Psychic Powers,-
Bulma,Human,Female,5,NaN,NaN,NaN,NaN,-

In [33]:
dragon_ball_z.columns

Index(['Race', 'Gender', 'Power Level', 'Ki Blast', 'Melee Combat', 'Speed',
       'Special Attack', 'Transformation'],
      dtype='object')

In [34]:
dragon_ball_z.index

Index(['Goku', 'Vegeta', 'Piccolo', 'Gohan', 'Future Trunks', 'Krillin',
       'Tien', 'Yamcha', 'Chiaotzu', 'Bulma', 'Master Roshi', 'Android 18',
       'Android 17', 'Cell', 'Frieza', 'Majin Buu', 'Yamu', 'Spopovich',
       'Videl', 'Dabura', 'Hercule', 'Ox-King', 'Chi-Chi', 'Puar', 'Oolong',
       'Launch', 'Mr. Popo', 'Kami', 'King Kai', 'Bubbles', 'Gregory', 'Dende',
       'Nail', 'Great Saiyaman', 'Videl', 'Raditz', 'Nappa', 'Zarbon',
       'Dodoria', 'Captain Ginyu', 'Burter', 'Recoome', 'Guldo', 'Cell Jr.',
       'Android 16', 'Android 19', 'Android 20', 'Babidi', 'Yakon', 'Pui Pui',
       'Android 13', 'Bojack', 'Janemba', 'Broly', 'Cooler', 'Android 14',
       'Android 15', 'Majin Vegeta', 'Dr. Gero', 'Android 8', 'Mercenary Tao',
       'Nam', 'King Piccolo', 'Launch', 'Emperor Pilaf', 'Upa', 'Mai',
       'Mr. Satan', 'Vados', 'Whis'],
      dtype='object', name='Name')

**Una sola columna de un Dataframe es una serie.**

In [37]:
ki = dragon_ball_z["Power Level"]
type(ki)

pandas.core.series.Series

In [38]:
ki

Name
Goku               9000
Vegeta             8500
Piccolo            8000
Gohan              7500
Future Trunks      7800
                  ...
Upa                  10
Mai                  10
Mr. Satan            50
Vados            200000
Whis             200000
Name: Power Level, Length: 70, dtype: int64

### Funciones, métodos y atributos.

In [39]:
# Regresa el número de renglones, columnas, nombres de las columnas,  
# La cantidad de nan's y el tipo de dato de cada variable
dragon_ball_z.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, Goku to Whis
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Race            70 non-null     object
 1   Gender          70 non-null     object
 2   Power Level     70 non-null     int64
 3   Ki Blast        48 non-null     object
 4   Melee Combat    59 non-null     object
 5   Speed           69 non-null     object
 6   Special Attack  37 non-null     object
 7   Transformation  70 non-null     object
dtypes: int64(1), object(7)
memory usage: 7.0+ KB

In [ ]:
# Breve dewcripción estadística de cada variable numérica
dragon_ball_z.describe()

         Power Level
count      70.000000
mean    16546.071429
std     37854.615047
min         5.000000
25%      1000.000000
50%      4000.000000
75%     10000.000000
max    200000.000000

In [42]:
# Tamaño del DataFrame
print(dragon_ball_z.shape)
print(dragon_ball_z.shape[0]) # Filas 
print(dragon_ball_z.shape[1]) # Columnas

(70, 8)
70
8

In [43]:
# Shape es una tupla
type(dragon_ball_z.shape)

tuple

In [44]:
# Número de valores únicos de cada variable

dragon_ball_z.nunique()

Race              17
Gender             2
Power Level       36
Ki Blast          39
Melee Combat      40
Speed              3
Special Attack    36
Transformation    11
dtype: int64

Para conocer la frecuencia de cada valor en cada variable se usa el siguiente método:

In [46]:
# Una sola columna
dragon_ball_z["Race"].value_counts()

Race
Human            21
Android          10
Alien             8
Saiyan            7
Namekian          4
Demon             4
Half-Saiyan       2
Frost Demon       2
Bio-Android       2
Angel             2
Shape-shifter     2
Majin             1
Genie             1
Monkey            1
Kai               1
Grasshopper       1
Wizard            1
Name: count, dtype: int64

In [55]:
for c in dragon_ball_z.columns:
    print(dragon_ball_z[c].value_counts(), '\n\n')

Race
Human            21
Android          10
Alien             8
Saiyan            7
Namekian          4
Demon             4
Half-Saiyan       2
Frost Demon       2
Bio-Android       2
Angel             2
Shape-shifter     2
Majin             1
Genie             1
Monkey            1
Kai               1
Grasshopper       1
Wizard            1
Name: count, dtype: int64


Gender
Male      61
Female     9
Name: count, dtype: int64


Power Level
8000      6
5         5
10000     4
4000      4
40000     4
10        4
2000      3
20000     3
1500      2
3000      2
9000      2
7800      2
300       2
1800      2
200000    2
50        2
1000      2
8500      1
7500      1
1400      1
700       1
30        1
6500      1
1100      1
12000     1
15000     1
2200      1
130       1
4500      1
42000     1
100       1
5000      1
100000    1
120000    1
50000     1
2600      1
Name: count, dtype: int64


Ki Blast
Kamehameha              3
S.S. Deadly Bomber      3
Energy Wave             3
Dodon Ray               2
Death Beam              2
Eye Beam                2
Galick Gun              1
Tri-Beam                1
Destructo Disc          1
Burning Attack          1
Masenko                 1
Special Beam Cannon     1
Energy Blast            1
Vanishing Ball          1
Spirit Ball             1
Double Sunday           1
Bomber DX               1
Elegant Blaster         1
Dodoria Beam            1
Milky Cannon            1
Blue Hurricane          1
Evil Flame              1
Justice Beam            1
Guldo Psychic Move      1
Recoome Eraser Gun      1
Energy Drain            1
Hell's Flash            1
Mind Control            1
Darkness Eye Beam       1
Spinning Blade          1
Galactic Buster         1
Bunkai Teleport         1
Eraser Cannon           1
Supernova Cooler        1
Final Explosion         1
Power Blitz             1
Explosive Demon Wave    1
Destruction             1
Staff Strike            1
Name: count, dtype: int64


Melee Combat
Android Strikes            9
Martial Arts               8
Firearms                   3
Wolf Fang Fist             2
Angelic Martial Arts       2
Dragon Fist                1
Namekian Punch             1
Big Bang                   1
Psychic Powers             1
Kamehameha                 1
Sword Strike               1
Soaring Dragon Strike      1
Tail Attack                1
Buu Smash                  1
Brutal Strikes             1
Cell Smash                 1
Dark Sword                 1
Axe Handle Smash           1
Justice Punch              1
Tail Strike                1
Arm Break                  1
Elegant Pose               1
Dodoria Headbutt           1
Thunder Shock              1
Ginyu Storm                1
Blue Tornado               1
Guldo Special              1
Recoome Kick               1
Rocket Punch               1
Babidi Curse               1
Darkness Slash             1
Cell Jr. Attack            1
Pui Pui Kick               1
Galactic Slam              1
Eraser Blow                1
Rakshasa's Claw            1
Cooler Armored Squadron    1
Big Bang Attack            1
Dodon Barrage              1
Super Explosive Wave       1
Name: count, dtype: int64


Speed
Fast       34
Slow       28
Average     7
Name: count, dtype: int64


Special Attack
-                                2
Spirit Bomb                      1
Hellzone Grenade                 1
Final Flash                      1
Father-Son Kamehameha            1
Heat Dome Attack                 1
Four Witches Technique           1
Solar Flare                      1
Psychic Powers                   1
MAX Power Kamehameha             1
Infinity Bullet                  1
Wolf Fang Fist                   1
Non-Stop Violence                1
Solar Kamehameha                 1
Supernova                        1
Chocolate Beam                   1
Stone Spit                       1
Fireball                         1
Saiyan Man Pose                  1
Saturday Crush                   1
Break Cannon                     1
Monster Crush                    1
Dodoria Launcher                 1
Body Change                      1
Blue Cannonball                  1
Recoome Ultra Fighting Bomber    1
Guldo Freeze                     1
Hell's Impact                    1
Galactic Blow                    1
Dimension Sword                  1
Omega Blaster                    1
Darkness Eye Beam                1
Final Impact                     1
Dodon Ray                        1
Mouth Energy Wave                1
Temporal Do-Over                 1
Name: count, dtype: int64


Transformation
-                     45
Transformation        10
Super Saiyan           4
Majin Form             3
Merge with Piccolo     2
Super Saiyan 2         1
Fuse with Kami         1
Various Forms          1
Final Form             1
Perfect Form           1
Absorption             1
Name: count, dtype: int64

### Métodos para resumir información en un solo valor.

Producen un único valor relacionado con los datos a los que se aplica. Si no se especifica otra cosa  
Pandas lo aplica resumiendo los valores de cada columna de un DataFrame, si se quiere resumir las variables de cada fila,  
se deberá especificar axis = 1 entre los paréntesis.

In [58]:
dragon_ball_z["Power Level"].mean()

np.float64(16546.071428571428)

In [59]:
dragon_ball_z.count()

Race              70
Gender            70
Power Level       70
Ki Blast          48
Melee Combat      59
Speed             69
Special Attack    37
Transformation    70
dtype: int64

In [60]:
dragon_ball_z.isnull()

,Race,Gender,Power Level,Ki Blast,Melee Combat,Speed,Special Attack,Transformation
Name,,,,,,,,
Goku,False,False,False,False,False,False,False,False
Vegeta,False,False,False,False,False,False,False,False
Piccolo,False,False,False,False,False,False,False,False
Gohan,False,False,False,False,False,False,False,False
Future Trunks,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
Upa,False,False,False,True,False,False,True,False
Mai,False,False,False,True,False,False,True,False
Mr. Satan,False,False,False,True,False,False,True,False
Vados,False,False,False,False,False,False,True,False
Whis,False,False,False,False,False,False,False,False

Suma de los nulos por variable

In [62]:
dragon_ball_z.isnull().sum()

Race               0
Gender             0
Power Level        0
Ki Blast          22
Melee Combat      11
Speed              1
Special Attack    33
Transformation     0
dtype: int64